<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>Notifications</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="notif-list">
    <div class="notif-item" *ngFor="let n of notifications">
      <div class="notif-icon" [style.background]="n.bg">
        <ion-icon [name]="n.icon" [style.color]="n.color"></ion-icon>
      </div>
      <div class="notif-content">
        <p class="notif-title">{{n.title}}</p>
        <p class="notif-desc">{{n.desc}}</p>
        <span class="notif-time">{{n.time}}</span>
      </div>
    </div>
  </div>
</ion-content>
