<ion-header>
  <ion-toolbar>
    <ion-title>Notification</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

 <div class="row">
  <div class="col" size="12" size-xl="6" offset-xl="5">
    <ion-card class="card" >
      <ion-card-header>
        <img src="/assets/icon/—Pngtree—vector notification icon_4260841.png" class="img" alt="">
        <ion-card-title class="title">Notification</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <ion-text color="info" class="para">
          <p>Stay notified about new products updates, discount product and order details</p>
        </ion-text>
        
        <ion-button expand="block" color="success" class="btn">Enable Notification</ion-button>
        <a href="" class="skiptext">Skip</a>

        
      </ion-card-content>
    </ion-card>
  </div>
 </div>

</ion-content>
