<ion-header>
  <ion-toolbar>
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <form [formGroup] ="passwordForm">
  <ion-row>
    <ion-col size="12"  >
     <ion-img src="/assets/ankhub logo.png" class="img" ></ion-img><br>
    </ion-col>
    <ion-col size="12" >
      <h1 class="head "><b>Reset Password</b></h1>
      <p class="p">The Password should have atleast 6 <br> characters</p>
    </ion-col>
    
    <ion-col size="12">
      <ion-item>
        <ion-input type="text" placeholder="Password" formControlName="password" class="form-control"
        [ngClass]="{ 'is-invalid': valSubmit && f.password.errors }" ></ion-input>
        
        
      </ion-item>
     
      <div *ngIf="valSubmit && f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors.required" >Password required</div>
        <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
    </div>
      </ion-col>
      <ion-col size="12">
        <ion-item>
          <ion-input type="text" placeholder="Confirm Password" formControlName="confirmPassword" class="form-control"
          [ngClass]="{ 'is-invalid': valSubmit && f.password.errors }"></ion-input>
          
        </ion-item>
        <div *ngIf="valSubmit && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required" >Confirm Password required</div>
          <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
      </div>
        </ion-col>
        <ion-col size="12">
          <ion-button expand="block" class="regbtn" (click)="conbtn()"  >Reset Password</ion-button>
        </ion-col>
    
       
  </ion-row><br>
</form>
  
  
  
</ion-content>
