<ion-header>
  <ion-toolbar>
    <ion-title >Location</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-row>
    <ion-col>
      <ion-card div class="card">
        <img class="img-fluid" src="/assets/map.jpg"/>
        <div class="card-title"><h5><b>Access Location</b></h5></div>
        <p class="p">This app will access your location only while using the app</p>
        <ion-button expand="block" class="regbtn" ><i class="bi bi-geo-alt"></i> Allow Access</ion-button>
        <br><div class="card-subtitle"><a href="">Skip</a></div>
    
        
      </ion-card>
    </ion-col>
  </ion-row>
  

</ion-content>
