ion-title {
    text-align: center;
}
.img-fluid{
    // height: ;
    padding-left: 55px;
    padding-right: 55px;
    
}
.card{
    text-align: center;
    padding-top: 4%;
    padding-bottom: 8%;
    border-radius: 12px;
}
.regbtn{
    --background: #b3ca0f;
    --color: #f5f6f9;
    margin-top: 20px;
    padding-left: 35px;
    padding-right: 35px; 
    
}
.p{
    font-size: smaller;
    padding-left: 35px;
    padding-right: 35px;
}
.h5{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
ion-row{
    padding-top: 70px;
}