#logo {
    width: 120px;
    height: 110px;
    margin-top: 165px;
    margin-left: 35%;
} 

#para {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 650;
    font-size: 22px;
    margin-left: 10px;
    margin-top: 10px;
}

#btntxt {
    width: 50px;
    height: 30px;
    margin-top: 5%;
    float: right;
    margin-right: 20px;
    font-weight: 400;
    font-size: 12px;
    
}

#btnsign {
    margin-top: 100px;
    margin-left: 40px;
    width: 110px;
    font-weight: 550;
    font-size: 12px;

}

#btnreg {
    color: #99CC00;
    margin-top: 100px;
    margin-left: 18px;
    width: 110px;
    font-weight: 550; 
    font-size: 12px;
}